attached_assets/Publish_Pinterest__B2B.json
{
  "name": "Publish Pinterest  B2B",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "where": {
          "values": [
            {
              "column": "guid",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c7e5dd9-5f5d-486c-9f9f-14509003a15a",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        860,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "OGLaL0xoD8bs2EJd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').item.json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').item.json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "86ede72c-5388-4593-8123-7a6cea248d19",
      "name": "SendToSalebot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o-mini-2024-07-18\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"Достань ссылку на новость с номером {{ $json.body.id }}. Ответь только ссылкой без лишних знаков и символов. Ссылку дай в точности как нашел.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify($json.body.list) }}\n      }\n    ]\n  } ",
        "options": {}
      },
      "id": "bebe00fa-4cd2-4ee0-8e82-c7ede5b0cfaf",
      "name": "Get news GUID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "// Функция для удаления всех HTML-тегов\nfunction stripTags(content) {\n  return content.replace(/<\\/?[^>]+(>|$)/g, \"\"); // Удаляет все теги\n}\n\n// Функция для обрезки строки до заданного количества символов и добавления \"...\" в конце\nfunction trimToLength(content, maxLength) {\n  if (content.length > maxLength) {\n    return content.substring(0, maxLength - 3) + \"...\";\n  }\n  return content;\n}\n\n// Основной код\nconst MAX_TELEGRAM_LENGTH = 4096;\n\nreturn items.map(item => {\n  if (item.json && item.json.content) {\n    // Убираем все теги из content\n    item.json.content = stripTags(item.json.content);\n    // Обрезаем строку до максимальной длины для Telegram и добавляем \"...\"\n    item.json.content = trimToLength(item.json.content, MAX_TELEGRAM_LENGTH);\n  }\n  return item;\n});\n"
      },
      "id": "f1366fe1-b0bc-4261-b5ff-bb24dde3ec32",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0622c19-432d-450a-b7d2-806d3ee78c56",
              "leftValue": "={{ $json.pinterest_b2b }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77e73600-d2ae-44f3-b590-d4d0cf3d7060",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=rewrite"
            }
          ]
        },
        "options": {}
      },
      "id": "c97745ac-bf21-45ae-ae50-068ec58173b3",
      "name": "Send to Rewrite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем HTML списка новостей напрямую из ноды Webhook\nconst listHtml = $node[\"Webhook\"].json.body.list;\n\n// Извлекаем номер новости из ID в теле Webhook\nconst newsNumber = parseInt($node[\"Webhook\"].json.body.id, 10); // Преобразуем в число, если rawId существует\n\n// Регулярное выражение для поиска URL новости с данным номером\nconst regex = new RegExp(`<strong>\\\\s*${newsNumber}\\\\.\\\\s*<a href=\"([^\"]+)\"`, 'i');\n\n// Ищем URL новости с данным номером\nconst match = listHtml.match(regex);\nconst newsUrl = match ? match[1] : 'URL новости не найден';\n\n// Возвращаем только URL новости\nreturn [\n  {\n    json: {\n      url: newsUrl,\n      id: newsNumber\n    }\n  }\n];\n"
      },
      "id": "bf5f8dca-c145-44a2-8802-9d6fc048da64",
      "name": "Get GUID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "91123f26-35a3-4bf7-9586-3b56dd81e470",
        "options": {}
      },
      "id": "6f44d07f-69d5-47ed-83a1-d1825b758681",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        280
      ],
      "webhookId": "91123f26-35a3-4bf7-9586-3b56dd81e470"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').item.json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').item.json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=error"
            },
            {
              "name": "response",
              "value": "={{ $json.error.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9bf7c8fc-0587-4c95-bbb1-acb460ba5883",
      "name": "Send Publish Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-sandbox.pinterest.com/v5/pins",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pina_AMA5V6QWACM4MAYAGDAAUDUIN6BU5EYBACGSOY27YK5VURB3ZR3MPHQFYWRZCNECKMYLEPOVFYJIIO4QWG2ZUZQPCZXBMSQA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_id\": \"1011832309970808081\",\n  \"media_source\": {\n    \"source_type\": \"image_url\",\n    \"url\": \"{{ $('Postgres').item.json.image_gen_b2b || $('Postgres').item.json.image }}\"\n  },\n  \"link\": \"https://www.okna98.ru/\",\n  \"title\": \"{{ $json.title.length > 90 ? $json.title.substring(0, 87) + '...' : $json.title }}\",\n  \"description\": {{ $('Postgres').item.json.pinterest_b2b && $('Postgres').item.json.pinterest_b2b.length > 450 ? JSON.stringify($('Postgres').item.json.pinterest_b2b.substring(0, 450) + '...') : JSON.stringify($('Postgres').item.json.pinterest_b2b) }}\n}",
        "options": {}
      },
      "id": "6deabf9f-5924-4a0c-8721-6862c9fa75a9",
      "name": "Publish Pinterest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        260
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.api-ai.net",
            "user-agent": "python-requests/2.31.0",
            "content-length": "7006",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "62.84.125.172",
            "x-forwarded-host": "n8n.api-ai.net",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "318b0a7e186c",
            "x-real-ip": "62.84.125.172"
          },
          "params": {},
          "query": {},
          "body": {
            "api_key": "ed09ac5a0f2c095a9d124faa32e33da7",
            "client_id": "606710306",
            "chat_id": "276351686",
            "list": "<h2>Список новостей для рерайта</h2>\n<table style=\"border-collapse:collapse; width:100%;\">\n<tr><td style=\"padding: 10px;\">\n        <strong>1. <a href=\"https://larta.com/news/portfolio-larta-glass-oktyabr\">Портфолио продуктов Larta Glass октябрь 2024</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        18 октября 2024 года\nУважаемые коллеги и партнеры!Информируем вас об актуальном портфолио продуктов, производимых на заводах группы компаний Larta Glass. Письмо для ознакомления доступно по ссылке.Есл...<br>\n        <img src=\"https://static.tildacdn.com/tild3062-6231-4965-b438-643862316666/IMG_9407_1690px.jpg\" alt=\"Портфолио продуктов Larta Glass октябрь 2024\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>2. <a href=\"https://larta.com/ru/news/izmeneniya-v-portfolio-produktov-larta-glass-oktyabr-2024\">Изменения в портфолио продуктов Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        04 октября 2024 года\nУважаемые коллеги и партнеры!В связи с изменением в портфолио продуктов на заводах группы компаний Larta Glass мы рекомендуем рассмотреть альтернативные варианты для тех позиций, ...<br>\n        <img src=\"https://i.ibb.co/MCP7Dyv/ultra.png\" alt=\"Изменения в портфолио продуктов Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>3. <a href=\"https://larta.com/ru/news/press-reliz-lartapro-hd-royal-grey-45\">Представляем новое архитектурное стекло LartaPro HD Royal Grey 45</a></strong><br>\n        <strong>Остекление фасадов</strong> и <strong>80%</strong><br>\n        04 октября 2024 года\nLarta Glass, крупнейший* производитель стекла в России, объявляет о запуске нового продукта — стекла с покрытием LartaPro HD Royal Grey 45. Этот продукт стал ответом на текущие по...<br>\n        <img src=\"https://static.tildacdn.com/tild3038-6437-4637-b265-373065646533/1212.jpg\" alt=\"Представляем новое архитектурное стекло LartaPro HD Royal Grey 45\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>4. <a href=\"https://alutech.ru/novosti-i-akcii/skidka-10-na-rollety-v-serebristom-tsvete/\">Скидка 10% на роллеты в серебристом цвете</a></strong><br>\n        <strong>Утепление и звукоизоляция окон</strong> и <strong>25%</strong><br>\n        Приобретите роллеты в серебристом цвете из классического профиля AR55N и получите на них скидку 10%.\n\n\n\t Акция действует в компании «РОЛ-ТЭК» до конца ноября 2024 года.\n\n\n\t Роллеты «АЛЮТЕХ» защищают к...<br>\n        <img src=\"https://i.ibb.co/f8d00SC/ultra.png\" alt=\"Скидка 10% на роллеты в серебристом цвете\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>5. <a href=\"https://larta.com/ru/news/configurator-interfejs-na-anglijskom-yazyke\">Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        24 сентября 2024 года\nLarta Glass представляет обновления для своего онлайн-конфигуратора. Новые функции открывают дополнительные возможности для партнеров и делают процесс выбора материалов еще более...<br>\n        <img src=\"https://static.tildacdn.com/tild3630-3462-4637-b765-663364393032/_-.jpg\" alt=\"Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n</table>\n",
            "id": "3",
            "rewrite": "news",
            "old": "✨ Новинка для вашего загородного дома: стекло LartaPro HD Royal Grey 45\n\n🌈 Стекло LartaPro HD Royal Grey 45 от Larta Glass — идеальное решение для вашего коттеджа или дачи. Этот уникальный продукт сочетает стиль и практичность, отвечая современным требованиям архитекторов и дизайнеров. \n\n📏 Высокие стандарты и дизайн. Стекло с нейтральным серым оттенком не только привлекательно, но и служит для создания приватности в помещениях, пропуская естественный свет. Оно станет настоящим украшением вашего загородного дома.\n\n🏠 Применение в любом проекте. Независимо от типа постройки, LartaPro HD Royal Grey 45 обеспечит превосходный уровень приватности и подойдет как для жилых, так и коммерческих объектов. \n\n💡 Откройте новые горизонты дизайна с LartaPro HD Royal Grey 45. Этот продукт — сочетание эстетики и функциональности, которое обязательно привлечет внимание в вашем проекте. \n\n<a href=\"https://example.com\">Узнайте больше о стекле LartaPro HD Royal Grey 45 здесь!</a>\n\n#загородныйдом #дизайн #стекло #LartaGlass #архитектура #инновации #приватность",
            "format": "pinterest_b2b",
            "promt": "promt",
            "text": "text"
          },
          "webhookUrl": "https://n8n.api-ai.net/webhook/91123f26-35a3-4bf7-9586-3b56dd81e470",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Publish Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GUID": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get GUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Pinterest": {
      "main": [
        [
          {
            "node": "SendToSalebot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Publish Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97bec994-37e6-406c-950d-47b074994507",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "332f4e2842ac35bdf92bcf45820374737b808cfde08870402695ef84706bff04"
  },
  "id": "umra21oNDYBBAqbk",
  "tags": []
}