attached_assets/Publish_Instagram.json
{
  "name": "Publish Instagram",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o-mini-2024-07-18\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"Достань ссылку на новость с номером {{ $json.body.id }}. Ответь только ссылкой без лишних знаков и символов. Ссылку дай в точности как нашел.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify($json.body.list) }}\n      }\n    ]\n  } ",
        "options": {}
      },
      "id": "e15f2f6d-37ba-4c73-a69d-c0f092e287e5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "cdd0d2b9-795a-41a6-b3a3-5bde755d1f31",
      "name": "SendToSalebot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 30
            }
          ]
        }
      },
      "id": "0c0392be-224c-4fd8-bfca-8cfd41f97679",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        440,
        180
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v14.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "3949244088688194"
            },
            {
              "name": "client_secret",
              "value": "9ab587c37b0f1d2c2633e32433038397"
            },
            {
              "name": "fb_exchange_token",
              "value": "EAA4H0QsJnkIBO5t4DKoqbkPPQ4nW4vZAHZC8dMMRRbDU1OUYhZCOMmabM0Pqa07krX1PpZCdZB1PVJlcotnJKrDvtz6P2EBfcK5uNFDKWTDrwWaeSDWKMvRTavfbdKJ4ygbwEgSDBHFEOcGOT2hx1hd1ZAZBikrieR69RJ6Lf58ZAqddizA5HlYiMbBVrdVGavbikeIeZBC7u"
            }
          ]
        },
        "options": {}
      },
      "id": "ebd02146-6ae7-430d-b317-4f0c33d34316",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "where": {
          "values": [
            {
              "column": "guid",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20db07d5-9bf4-4ab7-98ff-dfa57a53f5dd",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "OGLaL0xoD8bs2EJd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84a9386b-b2a0-49fe-a8ba-8c9c36ec8737",
              "leftValue": "={{ $json.instagram }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6cdf2183-9e4c-426d-b55a-1f4e3c42e384",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=rewrite"
            }
          ]
        },
        "options": {}
      },
      "id": "4213269d-05c9-4c0d-8364-3dcddfad4c40",
      "name": "Send to Rewrite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15a5ce00-64a8-45b0-a13b-c8a2bcc3d2eb",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7159d8e3-c2cb-47cd-ad61-c45c18905aeb",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        240
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "17841432635893044",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "83ac28a0-fee7-4ff7-976f-e96be70a4483",
      "name": "Facebook Graph API1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1700,
        220
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "WsFheIBlcQdqiCTp",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "17841432635893044",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.image_gen ||  $json.image }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.instagram }}"
              }
            ]
          }
        }
      },
      "id": "ee81baeb-b4a9-4f5a-aa96-811e877aed82",
      "name": "Facebook Graph API",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1240,
        320
      ],
      "retryOnFail": false,
      "credentials": {
        "facebookGraphApi": {
          "id": "WsFheIBlcQdqiCTp",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=error"
            }
          ]
        },
        "options": {}
      },
      "id": "908b25d4-656f-405e-8797-ed14c3bc63ea",
      "name": "Send to Rewrite1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем HTML списка новостей напрямую из ноды Webhook\nconst listHtml = $node[\"Webhook\"].json.body.list;\n\n// Извлекаем номер новости из ID в теле Webhook\nconst newsNumber = parseInt($node[\"Webhook\"].json.body.id, 10); // Преобразуем в число, если rawId существует\n\n// Регулярное выражение для поиска URL новости с данным номером\nconst regex = new RegExp(`<strong>\\\\s*${newsNumber}\\\\.\\\\s*<a href=\"([^\"]+)\"`, 'i');\n\n// Ищем URL новости с данным номером\nconst match = listHtml.match(regex);\nconst newsUrl = match ? match[1] : 'URL новости не найден';\n\n// Возвращаем только URL новости\nreturn [\n  {\n    json: {\n      url: newsUrl,\n      id: newsNumber\n    }\n  }\n];\n"
      },
      "id": "d8568aa8-63d7-4de6-a7d9-6c7774be5786",
      "name": "Get GUID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        340
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3f4fe53a-b352-471d-8ae2-b5856d942968",
        "options": {}
      },
      "id": "1e93d372-db38-41f8-aa47-9a7c6f483add",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        340
      ],
      "webhookId": "3f4fe53a-b352-471d-8ae2-b5856d942968"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.api-ai.net",
            "user-agent": "python-requests/2.31.0",
            "content-length": "8864",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "158.160.42.134",
            "x-forwarded-host": "n8n.api-ai.net",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "318b0a7e186c",
            "x-real-ip": "158.160.42.134"
          },
          "params": {},
          "query": {},
          "body": {
            "api_key": "ed09ac5a0f2c095a9d124faa32e33da7",
            "client_id": "602326146",
            "chat_id": "276351686",
            "list": "<h2>Список новостей для рерайта</h2>\n<table style=\"border-collapse:collapse; width:100%;\">\n<tr><td style=\"padding: 10px;\">\n        <strong>1. <a href=\"https://larta.com/ru/news/lartahome-solar-light-grey\">Эстетика и функциональность: Larta Glass запускает новый продукт в оконном сегменте LartaHome Solar Light Grey</a></strong><br>\n        <strong>Современные технологии остекления</strong> и <strong>40%</strong><br>\n        2 августа 2024 года\nLarta Glass, ведущий производитель архитектурного и интерьерного стекла в России и странах СНГ, объявляет о запуске нового продукта в оконном сегменте — LartaHome Solar Light Grey....<br>\n        <img src=\"https://i.ibb.co/x71bBf2/ultra.png\" alt=\"Эстетика и функциональность: Larta Glass запускает новый продукт в оконном сегменте LartaHome Solar Light Grey\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>2. <a href=\"https://larta.com/ru/news/konfigurator-ocenka-zvukoizolyacii-steklopaketov\">Новые возможности конфигуратора Larta Glass: оценка звукоизоляции стеклопакетов</a></strong><br>\n        <strong>Утепление и звукоизоляция окон</strong> и <strong>60%</strong><br>\n        2 августа 2024 года\nОдним из ключевых факторов, влияющих на качество жизни и продуктивность, является уровень шума в помещении. В ответ на растущую потребность в эффективных решениях для защиты от ули...<br>\n        <img src=\"https://static.tildacdn.com/tild3231-6137-4534-b430-386439303335/photo.png\" alt=\"Новые возможности конфигуратора Larta Glass: оценка звукоизоляции стеклопакетов\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>3. <a href=\"https://larta.com/ru/news/larta-glass-predstavlyaet-decolart-beige-ultraclear\">Элегантная нейтральность в интерьере: Larta Glass представляет новый продукт DecoLart Beige UltraClear</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        23 июля 2024 года\nКомпания Larta Glass, один из ведущих производителей архитектурного и интерьерного стекла в России и странах СНГ, анонсирует новое дополнение к своей линейке интерьерных продуктов на...<br>\n        <img src=\"https://static.tildacdn.com/tild6666-3132-4139-b130-646564633534/decolart_beige.png\" alt=\"Элегантная нейтральность в интерьере: Larta Glass представляет новый продукт DecoLart Beige UltraClear\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>4. <a href=\"https://larta.com/ru/news/larta-glass-predstavlyaet-online-konfigurator\">Расчет без границ: Larta Glass представляет онлайн-конфигуратор для расчета характеристик стекла</a></strong><br>\n        <strong>Современные технологии остекления</strong> и <strong>50%</strong><br>\n        1 июля 2024 года\nКомпания Larta Glass запускает по-настоящему расчетный конфигуратор. Этот онлайн-инструмент позволяет профессионалам в области остекления с легкостью подбирать и рассчитывать характер...<br>\n        <img src=\"https://i.ibb.co/sqV9VMR/ultra.png\" alt=\"Расчет без границ: Larta Glass представляет онлайн-конфигуратор для расчета характеристик стекла\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>5. <a href=\"https://larta.com/ru/news/priglashenie-na-onlajn-zapusk-konfiguratora-ostekleniya\">Приглашение на онлайн-запуск нового конфигуратора остекления Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        27 июня 2024 года\n1 июля 2024 года состоится онлайн-презентация нового конфигуратора для расчета остекления от компании Larta Glass. Этот инструмент позволит профессионалам в области остекления с легк...<br>\n        <img src=\"https://static.tildacdn.com/tild3738-6364-4165-b231-383163353534/_2.jpg\" alt=\"Приглашение на онлайн-запуск нового конфигуратора остекления Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n</table>\n",
            "id": "4",
            "rewrite": "news",
            "old": "Заголовок: Революционное решение для остекления \n\n💡 С 1 июля 2024 года выходит новый конфигуратор от Larta Glass!  \nЭтот онлайн-инструмент станет вашим верным помощником в подборе и расчетах характеристик стеклопакетов.  \nТеперь профессионалы смогут легко оптимизировать свои проекты с помощью точных данных в реальном времени.  \n\n🔍 Точные расчеты без лишних усилий  \nКонфигуратор использует методики расчета по ГОСТ EN410 и ГОСТ EN673, что обеспечивает высокую точность и надежность.  \nСоздание стеклопакетов станет проще, а результаты — более оперативными!  \n\n🔧 Многофункциональное решение для вашего комфорта  \nВы сможете подбирать не только одинарное стекло, но и однокамерные и двухкамерные стеклопакеты, а также учитывать различные светотехнические и теплотехнические параметры.  \nКонфигуратор поддерживает широкий выбор многослойных стекол и позволяет делать расчеты с использованием спектральных данных.  \n\n🌟 Доступность и легкость использования  \nЛичный кабинет, возможность сохранять проекты в PDF и доступ с любых устройств — всё это для вашего удобства.  \nРегистрация занимает минуту, а сам конфигуратор абсолютно бесплатен для всех специалистов в области остекления.  \n\n📈 Станьте лидером в мире остекления  \nИспользуйте конфигуратор Larta Glass и получите доступ к передовым решениям в проектировании стеклопакетов.  \nЭто ваш шанс улучшить качество своих работ и упростить процессы!  \n\nПолучите доступ к новому конфигуратору Larta Glass по ссылке https://configurator.larta.com/.  \nДополнительную информацию можно узнать на официальном Telegram-канале компании Larta Glass Lectorium.  \n\n#остекление #стеклопакеты #строительство #LartaGlass #конфигуратор #архитектура #инновации",
            "format": "instagram",
            "promt": "Удали абзац со ссылкой"
          },
          "webhookUrl": "https://n8n.api-ai.net/webhook/3f4fe53a-b352-471d-8ae2-b5856d942968",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Rewrite1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "SendToSalebot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Rewrite1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GUID": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get GUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "421d0638-88f0-4683-b50c-8bd3bc2e3e13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "332f4e2842ac35bdf92bcf45820374737b808cfde08870402695ef84706bff04"
  },
  "id": "kpXqVjl9Bae0XKmN",
  "tags": []
}