attached_assets/Publish_VK.json
{
  "name": "Publish VK",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "where": {
          "values": [
            {
              "column": "guid",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb458254-014e-4ef3-810a-3ef37dc8fd49",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        600,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "OGLaL0xoD8bs2EJd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o-mini-2024-07-18\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"Достань ссылку на новость с номером {{ $json.body.id }}. Ответь только ссылкой без лишних знаков и символов. Ссылку дай в точности как нашел.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify($json.body.list) }}\n      }\n    ]\n  } ",
        "options": {}
      },
      "id": "49b11372-1cb1-4820-a55c-d2907ddda363",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        100
      ]
    },
    {
      "parameters": {
        "url": "=",
        "options": {}
      },
      "id": "e4a12db3-c875-42dc-b98d-b24cf23c6c0f",
      "name": "Download Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        -180
      ]
    },
    {
      "parameters": {
        "url": "https://api.vk.com/method/photos.saveWallPhoto",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=server",
              "value": "={{ $json.server }}"
            },
            {
              "name": "photo",
              "value": "={{ $json.photo }}"
            },
            {
              "name": "hash",
              "value": "={{ $json.hash }}"
            },
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "group_id",
              "value": "48657164"
            },
            {
              "name": "v",
              "value": "5.131"
            },
            {
              "name": "from_group",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "d28d4075-ceda-49db-abc1-bc6fd024b3bb",
      "name": "saveWallPhoto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('getWallUploadServer').first().json.response.upload_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "photo",
              "inputDataFieldName": "data"
            },
            {
              "name": "group_id",
              "value": "48657164"
            }
          ]
        },
        "options": {}
      },
      "id": "3387430a-810b-4ff0-9aa0-efafcb5ac76b",
      "name": "Upload photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.vk.com/method/wall.createComment",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=owner_id",
              "value": "=-48657164"
            },
            {
              "name": "attachments",
              "value": "=photo519796265_457239022_9f6fbcc2d2e4d066cc"
            },
            {
              "name": "access_token",
              "value": "vk1.a.K5FGOU1sGP-IhxvK06pYs-blV_OyKVBNS6eVejBHrQGAVaBI4T6FpKrShOO4o7P7wdNYIRVg7pIg-h9BYBGVvm-RjK24J2mNAsh4P-TXvSQgGBvu6xDa5U-O5dyWWb6_1j4CbWEc7CzE7aWW5XoGI8OjRdhdHNdUvdOduO7f9CnpfYNE6dGK5WIi1GW9m_8DfW4E5iu0FcPGLFsw6v6J0w"
            },
            {
              "name": "v",
              "value": "5.131"
            },
            {
              "name": "post_id",
              "value": "={{ $('Make Post').first().json.response.post_id }}"
            },
            {
              "name": "message",
              "value": "Ну круто,  а чё?"
            }
          ]
        },
        "options": {}
      },
      "id": "7f8de03f-74d4-43e7-ac89-a78b85d0e85d",
      "name": "createComment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        -200
      ]
    },
    {
      "parameters": {
        "url": "https://api.vk.com/method/photos.getWallUploadServer",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "v",
              "value": "5.131"
            },
            {
              "name": "user_id",
              "value": "48657164"
            },
            {
              "name": "group_id",
              "value": "48657164"
            },
            {
              "name": "from_group",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "07afe7e3-d844-4fa0-bf4f-0848d8825f0f",
      "name": "getWallUploadServer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://api.vk.com/method/wall.post",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=server",
              "value": "={{ $json.server }}"
            },
            {
              "name": "photo",
              "value": "={{ $json.photo }}"
            },
            {
              "name": "hash",
              "value": "={{ $json.hash }}"
            },
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "group_id",
              "value": "48657164"
            },
            {
              "name": "v",
              "value": "5.131"
            }
          ]
        },
        "options": {}
      },
      "id": "029bbf3e-dafe-424e-a599-37f7987bcaaa",
      "name": "saveWallPhoto1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Пример кода для ноды Code в n8n, которая преобразует HTML-контент в простой текст, поддерживаемый ВКонтакте\n\nconst convertContentToVkFormat = (content) => {\n  if (typeof content !== 'string') {\n    return content;\n  }\n  // Убираем все HTML-теги, кроме ссылок\n  content = content.replace(/<(?!a\\s|\\/a>)[^>]+>/g, '');\n  \n  // Заменяем ссылки на формат текст (url)\n  content = content.replace(/<a href=\"(.*?)\".*?>(.*?)<\\/a>/gs, '$2 ($1)');\n\n  return content;\n};\n\n// Получаем данные из ноды Postgres\nconst items = $('Postgres').all();\nconst results = items.map(item => {\n  const newItem = { ...item.json };\n  newItem.content = convertContentToVkFormat(newItem.content);\n  return { json: newItem };\n});\n\nreturn results;\n"
      },
      "id": "554c0af6-b660-4961-8b8c-d837a9eac804",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://i.imgur.com/7FaBFHC.jpeg",
        "options": {}
      },
      "id": "995bf2db-7bba-4c70-bb37-a064c8e0b211",
      "name": "Download Photo2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "requestOptions": {}
      },
      "id": "cf2353fc-1252-421a-ac82-b0203a21c540",
      "name": "npm",
      "type": "n8n-nodes-base.npm",
      "typeVersion": 1,
      "position": [
        1420,
        -340
      ],
      "credentials": {
        "npmApi": {
          "id": "gYQp28uMgVX1T2dk",
          "name": "Npm account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Postgres').item.json.image_gen || $('Postgres').item.json.image }}",
        "responseFormat": "file",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "image/jpeg"
            }
          ]
        }
      },
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2200,
        300
      ],
      "id": "2a976376-4e3a-48b6-8ecc-1b46c8f1531a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/wall.post",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "v",
              "value": "5.131"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.content }}"
            },
            {
              "name": "owner_id",
              "value": "-48657164"
            },
            {
              "name": "from_group",
              "value": "1"
            },
            {
              "name": "message",
              "value": "={{ $json.vk }}"
            },
            {
              "name": "attachments",
              "value": "=photo{{ $('saveWallPhoto').item.json.response[0].owner_id }}_{{ $('saveWallPhoto').item.json.response[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a3b1e889-3bbc-4a34-bba9-4f0a83799a07",
      "name": "Make Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Draft",
        "height": 429.61583236321314,
        "width": 970.6169965075671
      },
      "id": "4f5bad1c-7447-4020-9cc2-ba522b0d790f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/wall.post",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "v",
              "value": "5.131"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=n8n"
            },
            {
              "name": "owner_id",
              "value": "-48657164"
            },
            {
              "name": "from_group",
              "value": "1"
            },
            {
              "name": "message",
              "value": "={{ $('Postgres').item.json.vk }}"
            }
          ]
        },
        "options": {}
      },
      "id": "00366fb6-de4c-4252-bfdd-b867d26dbbee",
      "name": "Make Post1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "8083d443-c64c-4bcf-9c90-5a4e55fb25d2",
      "name": "SendToSalebot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "192e34f8-67a9-48fd-a9cb-129340340635",
              "leftValue": "={{ $json.vk }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "52aecbfc-cf42-423c-9f24-d840829652a9",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.api-ai.net/webhook/512ca01d-dcf3-4797-b409-2c1b355376ff",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "a0adec80-738d-432c-b9a7-bd75116e43dc",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из Webhook\nlet data = $node[\"Webhook\"].json.body;\n\n// Изменяем значения полей\ndata.format = \"vk\";\ndata.rewrite = \"news\";\n\n// Возвращаем измененный объект\nreturn {\n  body: data\n};\n"
      },
      "id": "f6dd497d-a283-43a2-9bea-383d2ab33ee2",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        920
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "where": {
          "values": [
            {
              "column": "guid",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "162528ef-2a2b-43bf-b6a9-e9fa3ca65f14",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1400,
        920
      ],
      "credentials": {
        "postgres": {
          "id": "OGLaL0xoD8bs2EJd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.vk.com/method/photos.saveWallPhoto",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=server",
              "value": "={{ $json.server }}"
            },
            {
              "name": "photo",
              "value": "={{ $json.photo }}"
            },
            {
              "name": "hash",
              "value": "={{ $json.hash }}"
            },
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "group_id",
              "value": "48657164"
            },
            {
              "name": "v",
              "value": "5.131"
            },
            {
              "name": "from_group",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "4911dff8-dfcc-4cb6-8bd2-67f47e27fe33",
      "name": "saveWallPhoto2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('getWallUploadServer1').first().json.response.upload_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "photo",
              "inputDataFieldName": "data"
            },
            {
              "name": "group_id",
              "value": "48657164"
            }
          ]
        },
        "options": {}
      },
      "id": "10504c45-be87-4f95-8163-ec055a217ad7",
      "name": "Upload photo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        820
      ]
    },
    {
      "parameters": {
        "url": "https://api.vk.com/method/photos.getWallUploadServer",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "v",
              "value": "5.131"
            },
            {
              "name": "user_id",
              "value": "48657164"
            },
            {
              "name": "group_id",
              "value": "48657164"
            },
            {
              "name": "from_group",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "16c358b0-3ddd-4f02-b5df-8a89977b4a32",
      "name": "getWallUploadServer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Пример кода для ноды Code в n8n, которая преобразует HTML-контент в простой текст, поддерживаемый ВКонтакте\n\nconst convertContentToVkFormat = (content) => {\n  if (typeof content !== 'string') {\n    return content;\n  }\n  // Убираем все HTML-теги, кроме ссылок\n  content = content.replace(/<(?!a\\s|\\/a>)[^>]+>/g, '');\n  \n  // Заменяем ссылки на формат текст (url)\n  content = content.replace(/<a href=\"(.*?)\".*?>(.*?)<\\/a>/gs, '$2 ($1)');\n\n  return content;\n};\n\n// Получаем данные из ноды Postgres\nconst items = $('Postgres').all();\nconst results = items.map(item => {\n  const newItem = { ...item.json };\n  newItem.content = convertContentToVkFormat(newItem.content);\n  return { json: newItem };\n});\n\nreturn results;\n"
      },
      "id": "db458ede-591a-42ef-b94c-b5799bc3fd0a",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        820
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Postgres').item.json.image_gen }}",
        "responseFormat": "file",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "image/jpeg"
            }
          ]
        }
      },
      "name": "Download Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2340,
        820
      ],
      "id": "f3915711-41fe-430c-b991-6f1f802d7b72"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/wall.post",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "v",
              "value": "5.131"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.content }}"
            },
            {
              "name": "owner_id",
              "value": "-48657164"
            },
            {
              "name": "from_group",
              "value": "1"
            },
            {
              "name": "message",
              "value": "={{ $json.content }}"
            },
            {
              "name": "attachments",
              "value": "=photo{{ $('saveWallPhoto2').item.json.response[0].owner_id }}_{{ $('saveWallPhoto2').item.json.response[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbecae0e-a4e4-468f-89a0-e22e9ad69e60",
      "name": "Make Post2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/wall.post",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "vk1.a.H3FHEaxpNljE8LD0Yr3jjcboyHSDq-nsmqN2Z3NRJMrx5fjvwhsjfUwDl1eo7mxPW--Z-XTCa7i-1XlwAGznRzjZxpor-f7EFt_Mmx1ur8xxSh_ZliPuMuA5KfuwXNYOXv1V9EKhE30kaAdqNdMB_109aLI4KRjCqzQuY5L43fNMW8qeiHtEggAWrSiS40QqrFMleormTGWTokRBUMoNvw"
            },
            {
              "name": "v",
              "value": "5.131"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.content }}"
            },
            {
              "name": "owner_id",
              "value": "-48657164"
            },
            {
              "name": "from_group",
              "value": "1"
            },
            {
              "name": "message",
              "value": "={{ $json.content }}"
            },
            {
              "name": "attachments",
              "value": "=photo{{ $('saveWallPhoto2').item.json.response[0].owner_id }}_{{ $('saveWallPhoto2').item.json.response[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "963a2f17-41e3-459d-a798-77d0585a5c73",
      "name": "Make Post3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        1080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "70e4c813-040c-4b35-b0ae-d2db2903fbfe",
      "name": "SendToSalebot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        820
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Postgres').item.json.image_gen }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "=image_gen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "90f9d0bc-41ce-475a-bfc2-9db765d6115a",
                    "leftValue": "={{ $('Postgres').item.json.image_gen }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No image_gen"
            }
          ]
        },
        "options": {}
      },
      "id": "7a63ba9c-99d7-4668-84cf-8709967dc444",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2140,
        900
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Postgres').item.json.image_gen || $('Postgres').item.json.image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "=image_gen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "90f9d0bc-41ce-475a-bfc2-9db765d6115a",
                    "leftValue": "={{ $('Postgres').item.json.image_gen }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No image_gen"
            }
          ]
        },
        "options": {}
      },
      "id": "660375bd-10c8-4037-9705-fbf122582126",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1900,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3b5305d7-3ed2-4367-9a5c-568ea83c0c60",
        "options": {}
      },
      "id": "8d5c7808-e8b7-4569-a463-71920b2aef8b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        440
      ],
      "webhookId": "3b5305d7-3ed2-4367-9a5c-568ea83c0c60"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "b9393e00-23e0-47dd-bf1b-a6df5ddd221a",
      "name": "SendToSalebot3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=rewrite"
            }
          ]
        },
        "options": {}
      },
      "id": "883e8717-6442-4e53-a6e6-373d3bd481a8",
      "name": "Send to Rewrite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем HTML списка новостей напрямую из ноды Webhook\nconst listHtml = $node[\"Webhook\"].json.body.list;\n\n// Извлекаем номер новости из ID в теле Webhook\nconst newsNumber = parseInt($node[\"Webhook\"].json.body.id, 10); // Преобразуем в число, если rawId существует\n\n// Регулярное выражение для поиска URL новости с данным номером\nconst regex = new RegExp(`<strong>\\\\s*${newsNumber}\\\\.\\\\s*<a href=\"([^\"]+)\"`, 'i');\n\n// Ищем URL новости с данным номером\nconst match = listHtml.match(regex);\nconst newsUrl = match ? match[1] : 'URL новости не найден';\n\n// Возвращаем только URL новости\nreturn [\n  {\n    json: {\n      url: newsUrl,\n      id: newsNumber\n    }\n  }\n];\n"
      },
      "id": "bec0507b-ff37-43f7-a7da-6a0a90356b22",
      "name": "Get GUID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        440
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.api-ai.net",
            "user-agent": "python-requests/2.31.0",
            "content-length": "5706",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "158.160.42.134",
            "x-forwarded-host": "n8n.api-ai.net",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "318b0a7e186c",
            "x-real-ip": "158.160.42.134"
          },
          "params": {},
          "query": {},
          "body": {
            "api_key": "ed09ac5a0f2c095a9d124faa32e33da7",
            "client_id": "592123039",
            "chat_id": "276351686",
            "list": "<h2>Список новостей для рерайта</h2>\n<table style=\"border-collapse:collapse; width:100%;\">\n<tr><td style=\"padding: 10px;\">\n        <strong>1. <a href=\"https://alutech.ru/novosti-i-akcii/skidka-10-na-rollety-v-serebristom-tsvete/\">Скидка 10% на роллеты в серебристом цвете</a></strong><br>\n        <strong>Утепление и звукоизоляция окон</strong> и <strong>70%</strong><br>\n        Приобретите роллеты в серебристом цвете из классического профиля AR55N и получите на них скидку 10%.\n\n\n\t Акция действует в компании «РОЛ-ТЭК» до конца ноября 2024 года.\n\n\n\t Роллеты «АЛЮТЕХ» защищают к...<br>\n        <img src=\"https://alutech.ru/upload/webp/resize_cache/1b5/840_1000_0/198zfjhrfmwoqxffqavzrvxypisogbwc.webp\" alt=\"Скидка 10% на роллеты в серебристом цвете\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>2. <a href=\"https://larta.com/ru/news/configurator-interfejs-na-anglijskom-yazyke\">Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        24 сентября 2024 года\nLarta Glass представляет обновления для своего онлайн-конфигуратора. Новые функции открывают дополнительные возможности для партнеров и делают процесс выбора материалов еще более...<br>\n        <img src=\"https://i.ibb.co/GVG0Vrx/Cjij6-Gch2-ZYAAAAAAAFcag-0-raw-image-0.png\" alt=\"Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>3. <a href=\"https://larta.com/ru/news/priglashenie-na-rossiskii-okonnyj-kongress\">Приглашаем на Российский оконный конгресс — крупнейшее коммуникационное мероприятие отрасли</a></strong><br>\n        <strong>Остекление фасадов</strong> и <strong>70%</strong><br>\n        24 сентября 2024 года\nПриглашаем вас принять участие в РОССИЙСКОМ ОКОННОМ КОНГРЕССЕ – крупнейшем коммуникационном мероприятии отрасли. Первый российский оконный конгресс будет проходить с 24 по 27 ноя...<br>\n        <img src=\"https://i.ibb.co/pPcmSsk/Cjik-LWcf-PKk-AAAAAAD50-Wg-0-raw-image-0.png\" alt=\"Приглашаем на Российский оконный конгресс — крупнейшее коммуникационное мероприятие отрасли\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>4. <a href=\"https://larta.com/ru/news/tpost/ehnff3vsl1-izmeneniya-v-portfolio-produktov-larta-g\">Изменения в портфолио продуктов Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        В связи с изменением в портфолио продуктов на заводах группы компаний Larta Glass мы рекомендуем рассмотреть альтернативные варианты для тех позиций, которые будут выведены из текущего ассортимента....<br>\n        \n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>5. <a href=\"https://alutech.ru/novosti-i-akcii/podarki-pri-zakaze-garazhnykh-vorot-s-avtomatikoy/\">Подарки при заказе гаражных ворот с автоматикой</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        Приобретите секционные гаражные ворота Prestige с автоматикой ALUTECH Levigato, и мы смонтируем электропривод бесплатно и подарим дополнительный пульт.\n\n\n\t Акция действует в компании «Марди» до конца ...<br>\n        <img src=\"https://alutech.ru/upload/webp/resize_cache/ec4/840_1000_0/z06uvy6taakk96rjx8mm91uko6oajows.webp\" alt=\"Подарки при заказе гаражных ворот с автоматикой\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n</table>\n",
            "id": "4",
            "rewrite": "news",
            "old": "<strong>В связи с изменениями в ассортименте продукции на заводах группы компаний Larta Glass, мы советуем изучить альтернативные решения для тех позиций, которые будут исключены из действующего ассортимента.</strong>",
            "format": "vk"
          },
          "webhookUrl": "https://n8n.api-ai.net/webhook/3b5305d7-3ed2-4367-9a5c-568ea83c0c60",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo": {
      "main": [
        [
          {
            "node": "Download Photo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "saveWallPhoto": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload photo": {
      "main": [
        [
          {
            "node": "saveWallPhoto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getWallUploadServer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Make Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Post": {
      "main": [
        [
          {
            "node": "SendToSalebot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "getWallUploadServer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "getWallUploadServer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "saveWallPhoto2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload photo1": {
      "main": [
        [
          {
            "node": "saveWallPhoto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getWallUploadServer1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Make Post2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "Upload photo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Post2": {
      "main": [
        [
          {
            "node": "SendToSalebot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make Post3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get GUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Post1": {
      "main": [
        [
          {
            "node": "SendToSalebot3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GUID": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c129227-fd55-4467-95fa-fac5889e5465",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "332f4e2842ac35bdf92bcf45820374737b808cfde08870402695ef84706bff04"
  },
  "id": "Gk8iXuaVWxE0sZwZ",
  "tags": []
}