attached_assets/Publish_Facebook.json
{
  "name": "Publish Facebook",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o-mini-2024-07-18\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"Достань ссылку на новость с номером {{ $json.body.id }}. Ответь только ссылкой без лишних знаков и символов. Ссылку дай в точности как нашел.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify($json.body.list) }}\n      }\n    ]\n  } ",
        "options": {}
      },
      "id": "2e6c6a77-e8d6-4aac-a893-64d19d608df7",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "2078af7e-7d64-4edb-931f-fe7e3033ae82",
      "name": "SendToSalebot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 30
            }
          ]
        }
      },
      "id": "9c9b50ca-70a9-4915-9771-51fec45a0f41",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v14.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "3949244088688194"
            },
            {
              "name": "client_secret",
              "value": "9ab587c37b0f1d2c2633e32433038397"
            },
            {
              "name": "fb_exchange_token",
              "value": "EAA4H0QsJnkIBO9hA3XJCfFwLq4ysZAgkkUEEBvLEh4BeTrI1CPDT6faP1D9EwbwYRs5Jex50joDGnPT3cS2jegt7Rq1fhRgPiCIzvPZBH80ZBCbCCczrXPli5iW8QHbf8lRfC9toRqZBVaZB5wKoTjKRUQ0h50WnIPGwXbUqRrZAGiBWzg3Onl2wajqPfADKtPDa9aSe5qg6rRq6RFZA4HNMZA2cfbndAj8cmeqY2qUZD"
            }
          ]
        },
        "options": {}
      },
      "id": "f9f7642b-1f2c-425e-986c-55a51b40f198",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "where": {
          "values": [
            {
              "column": "guid",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfcb38de-96e5-4791-b111-fa4c8a791156",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        920,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "OGLaL0xoD8bs2EJd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84a9386b-b2a0-49fe-a8ba-8c9c36ec8737",
              "leftValue": "={{ $json.facebook }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f5b7be4-6ec3-42cd-95b4-63315bc609fd",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "107958824763808",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $('Postgres').item.json.image_gen || $('Postgres').item.json.image }}"
              },
              {
                "name": "message",
                "value": "={{ $('Postgres').item.json.facebook }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Postgres').item.json.facebook }}"
              }
            ]
          }
        }
      },
      "id": "38bdc295-c77c-4033-aa3d-6f85b75b594c",
      "name": "Facebook Graph API",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1440,
        320
      ],
      "retryOnFail": false,
      "credentials": {
        "facebookGraphApi": {
          "id": "MGDY4Yhk1F9HEh0S",
          "name": "Панорамное остекление"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=rewrite"
            }
          ]
        },
        "options": {}
      },
      "id": "2e0dcbd8-f9b3-4931-bb49-3b8478238c4f",
      "name": "Send to Rewrite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad8d8ea0-18ff-477d-b1eb-4e0ea03f82d9",
        "options": {}
      },
      "id": "82f2b901-b53e-4942-a2da-fe49d035ef7e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        420
      ],
      "webhookId": "ad8d8ea0-18ff-477d-b1eb-4e0ea03f82d9"
    },
    {
      "parameters": {
        "jsCode": "// Получаем HTML списка новостей напрямую из ноды Webhook\nconst listHtml = $node[\"Webhook\"].json.body.list;\n\n// Извлекаем номер новости из ID в теле Webhook\nconst newsNumber = parseInt($node[\"Webhook\"].json.body.id, 10); // Преобразуем в число, если rawId существует\n\n// Регулярное выражение для поиска URL новости с данным номером\nconst regex = new RegExp(`<strong>\\\\s*${newsNumber}\\\\.\\\\s*<a href=\"([^\"]+)\"`, 'i');\n\n// Ищем URL новости с данным номером\nconst match = listHtml.match(regex);\nconst newsUrl = match ? match[1] : 'URL новости не найден';\n\n// Возвращаем только URL новости\nreturn [\n  {\n    json: {\n      url: newsUrl,\n      id: newsNumber\n    }\n  }\n];\n"
      },
      "id": "6f065d07-61ef-4879-9c21-9d4d3b7ab2b1",
      "name": "Get GUID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        420
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.api-ai.net",
            "user-agent": "python-requests/2.31.0",
            "content-length": "7914",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "62.84.125.172",
            "x-forwarded-host": "n8n.api-ai.net",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "318b0a7e186c",
            "x-real-ip": "62.84.125.172"
          },
          "params": {},
          "query": {},
          "body": {
            "api_key": "ed09ac5a0f2c095a9d124faa32e33da7",
            "client_id": "592123039",
            "chat_id": "276351686",
            "list": "<h2>Список новостей для рерайта</h2>\n<table style=\"border-collapse:collapse; width:100%;\">\n<tr><td style=\"padding: 10px;\">\n        <strong>1. <a href=\"https://larta.com/ru/news/izmeneniya-v-portfolio-produktov-larta-glass-oktyabr-2024\">Изменения в портфолио продуктов Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        04 октября 2024 года\nУважаемые коллеги и партнеры!В связи с изменением в портфолио продуктов на заводах группы компаний Larta Glass мы рекомендуем рассмотреть альтернативные варианты для тех позиций, ...<br>\n        <img src=\"https://static.tildacdn.com/tild6266-3265-4562-b463-306631663966/ID-17233.jpeg\" alt=\"Изменения в портфолио продуктов Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>2. <a href=\"https://larta.com/ru/news/configurator-interfejs-na-anglijskom-yazyke\">Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        24 сентября 2024 года\nLarta Glass представляет обновления для своего онлайн-конфигуратора. Новые функции открывают дополнительные возможности для партнеров и делают процесс выбора материалов еще более...<br>\n        <img src=\"https://i.ibb.co/VNNR0dZ/ultra.png\" alt=\"Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>3. <a href=\"https://larta.com/ru/news/priglashenie-na-rossiskii-okonnyj-kongress\">Приглашаем на Российский оконный конгресс — крупнейшее коммуникационное мероприятие отрасли</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        24 сентября 2024 года\nПриглашаем вас принять участие в РОССИЙСКОМ ОКОННОМ КОНГРЕССЕ – крупнейшем коммуникационном мероприятии отрасли. Первый российский оконный конгресс будет проходить с 24 по 27 ноя...<br>\n        <img src=\"https://i.ibb.co/KGp6yjj/ultra.png\" alt=\"Приглашаем на Российский оконный конгресс — крупнейшее коммуникационное мероприятие отрасли\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>4. <a href=\"https://larta.com/ru/news/tpost/ehnff3vsl1-izmeneniya-v-portfolio-produktov-larta-g\">Изменения в портфолио продуктов Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        В связи с изменением в портфолио продуктов на заводах группы компаний Larta Glass мы рекомендуем рассмотреть альтернативные варианты для тех позиций, которые будут выведены из текущего ассортимента....<br>\n        <img src=\"https://i.ibb.co/R3dPjFt/ultra.png\" alt=\"Изменения в портфолио продуктов Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>5. <a href=\"https://larta.com/ru/news/lartahome-solar-light-grey\">Эстетика и функциональность: Larta Glass запускает новый продукт в оконном сегменте LartaHome Solar Light Grey</a></strong><br>\n        <strong>Современные технологии остекления</strong> и <strong>40%</strong><br>\n        2 августа 2024 года\nLarta Glass, ведущий производитель архитектурного и интерьерного стекла в России и странах СНГ, объявляет о запуске нового продукта в оконном сегменте — LartaHome Solar Light Grey....<br>\n        <img src=\"https://i.ibb.co/x71bBf2/ultra.png\" alt=\"Эстетика и функциональность: Larta Glass запускает новый продукт в оконном сегменте LartaHome Solar Light Grey\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n</table>\n",
            "id": "2",
            "rewrite": "news",
            "old": "24 сентября 2024 года компания Larta Glass анонсировала обновления для своего онлайн-конфигуратора. Эти новшества предоставляют партнерам больше возможностей и делают выбор материалов более комфортным.\n\nСреди нововведений следует отметить добавление интерфейса на английском языке. Теперь пользователи могут составлять отчеты и технические документы на английском, что улучшает взаимодействие с зарубежными партнерами, делая его более эффективным.\n\nТакже стала доступна функция самостоятельного создания пользовательских отчетов. Пользователи могут настроить, какие параметры будут включены в финальный документ.\n\nВ конфигуратор добавлены расчеты по стандартам EN410 и EN673, что особенно важно для клиентов, работающих на иностранных рынках, где соответствие этим стандартам является ключевым критерием при выборе материалов.\n\nКроме того, новые продукты LartaPro HS Neutral 73 HT UltraClear и LartaHome Solar Light Grey тоже стали доступны. Это позволяет пользователям подбирать ещё больше современных решений для своих проектов, используя интуитивно понятный интерфейс и новейшие функции.\n\nДля доступа ко всем новым возможностям не требуется выполнять никаких дополнительных действий — обновления уже доступны всем пользователям. Мы уверены, что эти новшества помогут эффективно справляться с различными задачами и сделают процесс работы более удобным и продуктивным.",
            "format": "facebook"
          },
          "webhookUrl": "https://n8n.api-ai.net/webhook/ad8d8ea0-18ff-477d-b1eb-4e0ea03f82d9",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "SendToSalebot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get GUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GUID": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "873d8ab7-1aca-4da9-aff0-ca32fcc4c4db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "332f4e2842ac35bdf92bcf45820374737b808cfde08870402695ef84706bff04"
  },
  "id": "BkeKhNzQGSAwSPMa",
  "tags": []
}