attached_assets/Publish_Site_RSS.json
{
  "name": "Publish Site/RSS",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatter.salebot.pro/api/{{ $('Webhook').first().json.body.api_key }}/callback",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Webhook').first().json.body.client_id }}"
            },
            {
              "name": "message",
              "value": "=n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "c01104f3-8dc3-4848-9b6f-65baaf865b30",
      "name": "SendToSalebot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        400
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "where": {
          "values": [
            {
              "column": "guid",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e845ee1b-3bef-4101-9b95-da6d3c145076",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        600,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "OGLaL0xoD8bs2EJd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем HTML списка новостей напрямую из ноды Webhook\nconst listHtml = $node[\"Webhook\"].json.body.list;\n\n// Извлекаем номер новости из ID в теле Webhook\nconst newsNumber = parseInt($node[\"Webhook\"].json.body.id, 10); // Преобразуем в число, если rawId существует\n\n// Регулярное выражение для поиска URL новости с данным номером\nconst regex = new RegExp(`<strong>\\\\s*${newsNumber}\\\\.\\\\s*<a href=\"([^\"]+)\"`, 'i');\n\n// Ищем URL новости с данным номером\nconst match = listHtml.match(regex);\nconst newsUrl = match ? match[1] : 'URL новости не найден';\n\n// Возвращаем только URL новости\nreturn [\n  {\n    json: {\n      url: newsUrl,\n      id: newsNumber\n    }\n  }\n];\n"
      },
      "id": "66ea5cb3-ea0d-4c6d-ac9c-a89c00639152",
      "name": "Get GUID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "99d06c44-0959-42d9-9786-93c21a3ab2d4",
        "options": {}
      },
      "id": "50755cea-54e5-4c55-a166-fd1e68e2ffc0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        400
      ],
      "webhookId": "99d06c44-0959-42d9-9786-93c21a3ab2d4"
    },
    {
      "parameters": {
        "url": "={{ $json.image_gen }}",
        "options": {}
      },
      "id": "ae899e3f-752b-49b0-bd8a-3a959aa67646",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ct44538-wordpress-od6ba.tw1.ru/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Basic base64_encoded_username_and_password\",\n  \"Content-Disposition\": \"attachment; filename=\\\"ultra.png\\\"\",\n  \"Content-Type\": \"image/png\"\n}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "96009bb7-b9b3-421e-ab19-bb0bd6323fe9",
      "name": "Upload Image to WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        400
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "Uo9sU7IhGNUvlEtv",
          "name": "WP Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ct44538-wordpress-od6ba.tw1.ru/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($('Postgres').item.json.title) }},\n  \"content\": {{ JSON.stringify($('Postgres').item.json.rewrite) }},\n  \"status\": \"publish\",\n  \"featured_media\": {{ $json.id }}\n}\n",
        "options": {}
      },
      "id": "386f460a-7e6a-422a-9ee9-f61019673cf3",
      "name": "Create Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        400
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "Uo9sU7IhGNUvlEtv",
          "name": "WP Basic Auth"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.api-ai.net",
            "user-agent": "python-requests/2.31.0",
            "content-length": "8564",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "62.84.125.172",
            "x-forwarded-host": "n8n.api-ai.net",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "318b0a7e186c",
            "x-real-ip": "62.84.125.172"
          },
          "params": {},
          "query": {},
          "body": {
            "api_key": "ed09ac5a0f2c095a9d124faa32e33da7",
            "client_id": "602326146",
            "chat_id": "276351686",
            "list": "<h2>Список новостей для рерайта</h2>\n<table style=\"border-collapse:collapse; width:100%;\">\n<tr><td style=\"padding: 10px;\">\n        <strong>1. <a href=\"https://larta.com/news/portfolio-larta-glass-oktyabr\">Портфолио продуктов Larta Glass октябрь 2024</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        18 октября 2024 года\nУважаемые коллеги и партнеры!Информируем вас об актуальном портфолио продуктов, производимых на заводах группы компаний Larta Glass. Письмо для ознакомления доступно по ссылке.Есл...<br>\n        <img src=\"https://i.ibb.co/T0J9dfZ/ultra.png\" alt=\"Портфолио продуктов Larta Glass октябрь 2024\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>2. <a href=\"https://larta.com/ru/news/izmeneniya-v-portfolio-produktov-larta-glass-oktyabr-2024\">Изменения в портфолио продуктов Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        04 октября 2024 года\nУважаемые коллеги и партнеры!В связи с изменением в портфолио продуктов на заводах группы компаний Larta Glass мы рекомендуем рассмотреть альтернативные варианты для тех позиций, ...<br>\n        <img src=\"https://i.ibb.co/NtRXw5p/ultra.png\" alt=\"Изменения в портфолио продуктов Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>3. <a href=\"https://larta.com/ru/news/configurator-interfejs-na-anglijskom-yazyke\">Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        24 сентября 2024 года\nLarta Glass представляет обновления для своего онлайн-конфигуратора. Новые функции открывают дополнительные возможности для партнеров и делают процесс выбора материалов еще более...<br>\n        <img src=\"https://i.ibb.co/7grxkW5/ultra.png\" alt=\"Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>4. <a href=\"https://larta.com/ru/news/priglashenie-na-rossiskii-okonnyj-kongress\">Приглашаем на Российский оконный конгресс — крупнейшее коммуникационное мероприятие отрасли</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        24 сентября 2024 года\nПриглашаем вас принять участие в РОССИЙСКОМ ОКОННОМ КОНГРЕССЕ – крупнейшем коммуникационном мероприятии отрасли. Первый российский оконный конгресс будет проходить с 24 по 27 ноя...<br>\n        <img src=\"https://i.ibb.co/5jfBhPK/ultra.png\" alt=\"Приглашаем на Российский оконный конгресс — крупнейшее коммуникационное мероприятие отрасли\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n<tr><td style=\"padding: 10px;\">\n        <strong>5. <a href=\"https://larta.com/ru/news/tpost/ehnff3vsl1-izmeneniya-v-portfolio-produktov-larta-g\">Изменения в портфолио продуктов Larta Glass</a></strong><br>\n        <strong>Без темы</strong> и <strong>0%</strong><br>\n        В связи с изменением в портфолио продуктов на заводах группы компаний Larta Glass мы рекомендуем рассмотреть альтернативные варианты для тех позиций, которые будут выведены из текущего ассортимента....<br>\n        <img src=\"https://i.ibb.co/Y7sKn8h/ultra.png\" alt=\"Изменения в портфолио продуктов Larta Glass\" style=\"max-width: 100%; height: auto;\">\n      </td></tr>\n</table>\n",
            "id": "4",
            "rewrite": "news",
            "old": "Список новостей для рерайта:\n\n1. <strong><a href=\"https://larta.com/news/portfolio-larta-glass-oktyabr\">Портфолио продуктов Larta Glass октябрь 2024</a></strong> (<strong>Без темы</strong> и <strong>0%</strong>)\n<i>18 октября 2024 года\nУважаемые коллеги и партнеры!Информируем вас об актуальном портфолио продуктов, производимых на заводах группы компаний Larta Glass. Письмо для ознакомления доступно по ссылке.Есл...</i>\n\n2. <strong><a href=\"https://larta.com/ru/news/izmeneniya-v-portfolio-produktov-larta-glass-oktyabr-2024\">Изменения в портфолио продуктов Larta Glass</a></strong> (<strong>Без темы</strong> и <strong>0%</strong>)\n<i>04 октября 2024 года\nУважаемые коллеги и партнеры!В связи с изменением в портфолио продуктов на заводах группы компаний Larta Glass мы рекомендуем рассмотреть альтернативные варианты для тех позиций, ...</i>\n\n3. <strong><a href=\"https://larta.com/ru/news/configurator-interfejs-na-anglijskom-yazyke\">Интерфейс на английском языке и настройка пользовательского отчета: что нового в конфигураторе Larta Glass</a></strong> (<strong>Без темы</strong> и <strong>0%</strong>)\n<i>24 сентября 2024 года\nLarta Glass представляет обновления для своего онлайн-конфигуратора. Новые функции открывают дополнительные возможности для партнеров и делают процесс выбора материалов еще более...</i>\n\n4. <strong><a href=\"https://larta.com/ru/news/priglashenie-na-rossiskii-okonnyj-kongress\">Приглашаем на Российский оконный конгресс — крупнейшее коммуникационное мероприятие отрасли</a></strong> (<strong>Без темы</strong> и <strong>0%</strong>)\n<i>24 сентября 2024 года\nПриглашаем вас принять участие в РОССИЙСКОМ ОКОННОМ КОНГРЕССЕ – крупнейшем коммуникационном мероприятии отрасли. Первый российский оконный конгресс будет проходить с 24 по 27 ноя...</i>\n\n5. <strong><a href=\"https://larta.com/ru/news/tpost/ehnff3vsl1-izmeneniya-v-portfolio-produktov-larta-g\">Изменения в портфолио продуктов Larta Glass</a></strong> (<strong>Без темы</strong> и <strong>0%</strong>)\n<i>В связи с изменением в портфолио продуктов на заводах группы компаний Larta Glass мы рекомендуем рассмотреть альтернативные варианты для тех позиций, которые будут выведены из текущего ассортимента.</i>\n\n",
            "format": "format",
            "promt": "promt"
          },
          "webhookUrl": "https://n8n.api-ai.net/webhook/99d06c44-0959-42d9-9786-93c21a3ab2d4",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Get GUID": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get GUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Image to WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to WP": {
      "main": [
        [
          {
            "node": "Create Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post": {
      "main": [
        [
          {
            "node": "SendToSalebot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b73ca742-a0ff-4eab-a3c5-eb8767fed0ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "332f4e2842ac35bdf92bcf45820374737b808cfde08870402695ef84706bff04"
  },
  "id": "TFf68DtONkbRuDMF",
  "tags": []
}