scripts/n8n-stories-workflow-basic.json
{
  "name": "Stories Publishing Basic",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publish-stories"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "id": "webhook-1"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nreturn {\n  contentId: body.contentId,\n  platform: body.platform || 'instagram',\n  storyData: body.metadata?.storyData || {},\n  hasInteractive: false\n};"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "extract-1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": "campaign_content",
        "where": "id={{ $json.contentId }}"
      },
      "name": "Get Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "lO4gl1E2I2lsrRce",
          "name": "Postgres account"
        }
      },
      "id": "postgres-1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Extract Data'].json.platform }}",
              "value2": "instagram"
            }
          ]
        }
      },
      "name": "Is Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "id": "if-1"
    },
    {
      "parameters": {
        "jsCode": "const content = $node['Get Content'].json;\nreturn {\n  success: true,\n  message: 'Stories processed',\n  contentId: content.id,\n  platform: 'instagram'\n};"
      },
      "name": "Process Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1060,
        200
      ],
      "id": "code-instagram"
    },
    {
      "parameters": {
        "jsCode": "const extractData = $node['Extract Data'].json;\nreturn {\n  success: true,\n  message: 'Other platform processed',\n  contentId: extractData.contentId,\n  platform: extractData.platform\n};"
      },
      "name": "Process Other",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1060,
        400
      ],
      "id": "code-other"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1260,
        300
      ],
      "id": "respond-1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Is Instagram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Instagram?": {
      "main": [
        [
          {
            "node": "Process Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Instagram": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Other": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}