scripts/n8n-stories-workflow-complete.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publish-stories",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-760, 340],
      "id": "6c00cc84-eb5c-457a-9b56-56e18ce78783",
      "webhookId": "c62c3b6d-abf8-4c26-90a9-4d2e2ab10351"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nreturn {\n  contentId: body.contentId,\n  platform: body.platform || 'instagram',\n  storyData: body.metadata?.storyData || {},\n  hasInteractive: false\n};"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-560, 340],
      "id": "9d5e13c5-0043-4f30-87c1-b4fbcfef870d"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "campaign_content",
          "mode": "list",
          "cachedResultName": "campaign_content"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.contentId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-340, 340],
      "id": "b006194f-49de-43ca-8554-94cbf328487a",
      "name": "Get Content",
      "credentials": {
        "postgres": {
          "id": "lO4gl1E2I2lsrRce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из базы\nconst content = $input.all()[0].json;\nconst metadata = content.additional_media || {};\nconst storyData = metadata.storyData || {};\nconst slides = storyData.slides || [];\n\n// Проверяем интерактивные элементы\nconst hasInteractive = slides.some(slide => \n  slide.elements && slide.elements.some(element => \n    ['poll', 'quiz', 'slider', 'question'].includes(element.type)\n  )\n);\n\n// Получаем типы интерактивных элементов\nconst interactiveTypes = [];\nslides.forEach(slide => {\n  if (slide.elements) {\n    slide.elements.forEach(element => {\n      if (['poll', 'quiz', 'slider', 'question'].includes(element.type) && \n          !interactiveTypes.includes(element.type)) {\n        interactiveTypes.push(element.type);\n      }\n    });\n  }\n});\n\nreturn {\n  contentId: content.id,\n  title: content.title,\n  content: content.content,\n  contentType: content.content_type,\n  storyData: storyData,\n  slides: slides,\n  hasInteractive: hasInteractive,\n  interactiveTypes: interactiveTypes,\n  platforms: content.social_platforms || {},\n  status: content.status\n};"
      },
      "name": "Process Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-140, 340],
      "id": "process-content-node"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.contentType }}",
              "value2": "stories"
            }
          ]
        }
      },
      "name": "Is Stories?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [60, 340],
      "id": "is-stories-check"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasInteractive }}"
            }
          ]
        }
      },
      "name": "Has Interactive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [260, 240],
      "id": "has-interactive-check"
    },
    {
      "parameters": {
        "jsCode": "// Обработка интерактивных Instagram Stories\nconst data = $input.all()[0].json;\n\n// Здесь должна быть логика публикации через instagrapi для интерактивности\n// Можно вызвать Python скрипт или API endpoint\n\nreturn {\n  success: true,\n  method: 'instagrapi',\n  message: `Instagram Stories с интерактивными элементами [${data.interactiveTypes.join(', ')}] обработано`,\n  contentId: data.contentId,\n  platform: 'instagram',\n  hasInteractive: true,\n  interactiveTypes: data.interactiveTypes\n};"
      },
      "name": "Publish Interactive Stories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [460, 140],
      "id": "publish-interactive"
    },
    {
      "parameters": {
        "jsCode": "// Обработка обычных Instagram Stories\nconst data = $input.all()[0].json;\n\n// Здесь должна быть логика публикации через Graph API\n\nreturn {\n  success: true,\n  method: 'graph_api',\n  message: 'Instagram Stories без интерактивных элементов обработано',\n  contentId: data.contentId,\n  platform: 'instagram',\n  hasInteractive: false\n};"
      },
      "name": "Publish Static Stories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [460, 340],
      "id": "publish-static"
    },
    {
      "parameters": {
        "jsCode": "// Обработка других платформ (VK, Facebook, Telegram)\nconst data = $input.all()[0].json;\n\nreturn {\n  success: true,\n  method: 'other_platform',\n  message: 'Stories для других платформ обработано',\n  contentId: data.contentId,\n  platform: 'other'\n};"
      },
      "name": "Process Other Platforms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [260, 440],
      "id": "process-other"
    },
    {
      "parameters": {
        "jsCode": "// Ошибка: контент не является Stories\nreturn {\n  success: false,\n  error: 'Контент не является Stories типом',\n  contentType: $input.all()[0].json.contentType\n};"
      },
      "name": "Not Stories Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [60, 540],
      "id": "not-stories-error"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "campaign_content",
          "mode": "list"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.contentId }}"
            }
          ]
        },
        "columns": {
          "values": [
            {
              "column": "status",
              "value": "published"
            },
            {
              "column": "published_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [660, 240],
      "id": "update-status",
      "name": "Update Status",
      "credentials": {
        "postgres": {
          "id": "lO4gl1E2I2lsrRce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 340],
      "id": "ada09f14-7c6f-4a59-8c4d-14e61d4bdfd6"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Content": {
      "main": [
        [
          {
            "node": "Is Stories?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Stories?": {
      "main": [
        [
          {
            "node": "Has Interactive?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Stories Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Interactive?": {
      "main": [
        [
          {
            "node": "Publish Interactive Stories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish Static Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Interactive Stories": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Static Stories": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Other Platforms": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Stories Error": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48b343d4f21061cd3a73b34f5a2564ef792ed905f0d50c185e3671d2882f3122"
  }
}